{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://api.lummi.ai/v1"
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "info": {
    "title": "Lummi API",
    "version": "1",
    "description": "## Introduction\n\nLummi REST API offers tools for searching, retrieving, and customizing images, with features like filters, metadata, and advanced image effects.\n\n​\n## Authentication\n\nThe API uses Bearer Token authentication. Developers must include their API key in the `Authorization` header of each request.\n\nExample:\n\n```\nAuthorization: Bearer YOUR_API_KEY\n```\n\n​\n## Rate Limiting\n\nThe API enforces rate limits to ensure fair usage and system stability.\n\n- **Default Limit**: 10 requests per minute.\n- **Approved Applications**: 100 requests per minute.\n\nIf the limit is exceeded, the API will return a `429 Too Many Requests` response. To avoid disruptions:\n\n- Optimize your API usage by batching requests where possible.\n- Implement retry logic with exponential backoff to handle rate limit errors.\n\nFor higher limits, submit your application for review at https://www.lummi.ai/portal/developer.\n\n​\n## Attribution Guidelines\n\nTo comply with usage guidelines and ensure proper credit is given to image creators, developers **MUST** include both **image attribution** and **author attribution** for each image displayed.\n\n### Image Attribution\n\nWhen displaying images obtained through the Lummi API, you **MUST** provide a clickable link to the original source of the image. Use the `attributionUrl` property from the image object.\n\n### Author Attribution\n\nDevelopers **MUST** also attribute the original author of the image. Use the `attributionUrl` from the author object to create a clickable link to the author's profile.\n\n### Example\n\n```\n<div className=\"relative\">\n  <img src={image.url} alt={image.name} />\n\n  <p className=\"absolute bottom-0 right-0\">\n    Photo by\n    <a href={author.attributionUrl} target=\"_blank\">\n      {author.name}\n    </a>\n    on\n    <a href={image.attributionUrl} target=\"_blank\">\n      Lummi\n    </a>\n  </p>\n</div>\n```\n\n### General Best Practices for Attribution\n\n- **Visibility**: The attribution should appear near the image, on top of it, or be visible on hover.\n- **Formatting**: Use clear and clickable text links for all attribution URLs.\n- **Styling**: Match the attribution style with your application’s design for a seamless user experience.\n\nBy adhering to these guidelines, developers ensure compliance with Lummi's terms of service and respect the work of creators.\n\n​\n## Dynamic Image Transformations\n\nEvery image object includes a `url` property, which returns a direct URL to the image. You can customize the size and format of each image by adding specific query parameters to this URL. Below are the supported parameters and examples of their usage.\n\n### 1. Resizing\n\nYou can resize an image by specifying one or both of the following parameters:\n\n- `w` (width): Sets the output width (in pixels).\n- `h` (height): Sets the output height (in pixels).\n\nWhen you provide both `w` and `h`, the image is fit within those dimensions while preserving its aspect ratio. In this case, only one dimension (either width or height) will match your parameters — unless the original aspect ratio is 1:1.\n\nBy default, the URL for each image may already include query parameters for width (`w`) and height (`h`). These default values ensure a certain size is always delivered unless you override them. You can modify or remove these parameters to fetch different sizes or the original image.\n\n#### Examples\n\n```\nconst imageUrl = new URL(image.url);\n\n# Default size\nimageUrl.toString(); # \"https://assets.lummi.ai/assets/abc123?w=xxx&h=xxx&auto=format\"\n\n# Original size\nimageUrl.searchParams.delete(\"w\");\nimageUrl.searchParams.delete(\"h\");\nimageUrl.toString(); # \"https://assets.lummi.ai/assets/abc123?auto=format\"\n\n# Resize to a width of 400px\nimageUrl.searchParams.set(\"w\", \"400\");\nimageUrl.searchParams.delete(\"h\");\nimageUrl.toString(); # \"https://assets.lummi.ai/assets/abc123?w=400&auto=format\"\n\n# Resize to a height of 300px\nimageUrl.searchParams.set(\"h\", \"300\");\nimageUrl.searchParams.delete(\"w\");\nimageUrl.toString(); # \"https://assets.lummi.ai/assets/abc123?h=300&auto=format\"\n\n# Resize to both width 400px and height 300px (maintains aspect ratio)\nimageUrl.searchParams.set(\"w\", \"400\");\nimageUrl.searchParams.set(\"h\", \"300\");\nimageUrl.toString(); # \"https://assets.lummi.ai/assets/abc123?w=400&h=300&auto=format\"\n```\n\n### 2. Format Conversion\n\nYou can also convert an image to a different format by removing the `auto` parameter and adding the `fm` parameter. Supported values for `fm` include `jpg`, `png`, `avif`, and `webp`.\n\nBy default, the URL for each image includes a query parameter for automatic format selection (`auto`). This ensures that the most optimal format is always delivered unless you override it. You can remove `auto` parameter to fetch a different format or the original one.\n\n#### Examples\n\n```\nconst imageUrl = new URL(image.url);\n\n# Default (automatic) format\nimageUrl.toString(); # \"https://assets.lummi.ai/assets/abc123?auto=format&w=xxx&h=xxx\"\n\n# Original format\nimageUrl.searchParams.delete(\"auto\");\nimageUrl.toString(); # \"https://assets.lummi.ai/assets/abc123?w=xxx&h=xxx\"\n\n# Convert to `png` format\nimageUrl.searchParams.delete(\"auto\");\nimageUrl.searchParams.set(\"fm\", \"png\");\nimageUrl.toString(); # \"https://assets.lummi.ai/assets/abc123?fm=png&w=xxx&h=xxx\"\n```\n\n### Combining Parameters\n\nYou can mix-and-match the `w`, `h`, `fm`, and `auto` parameters to perform multiple transformations at once:\n\n```\nconst imageUrl = new URL(image.url);\nimageUrl.searchParams.delete(\"auto\");\nimageUrl.searchParams.set(\"fm\", \"avif\");\nimageUrl.searchParams.set(\"w\", \"400\");\nimageUrl.searchParams.set(\"h\", \"300\");\nimageUrl.toString(); # \"https://assets.lummi.ai/assets/abc123?fm=avif&w=400&h=300\"\n```\n"
  },
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "UserRef": {
        "type": "object",
        "properties": {
          "attributionUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to the original author on the Lummi website. You MUST use it to properly attribute Lummi when displaying its images, ensuring compliance with usage guidelines and giving proper credit to the source.",
            "example": "https://www.lummi.ai/creator/abc"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "username": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "avatar": {
            "type": "string",
            "format": "uri",
            "description": "Asset URL.",
            "example": "https://assets.lummi.ai/assets/abc123"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "creator"
            ]
          }
        },
        "required": [
          "attributionUrl",
          "id",
          "username",
          "role"
        ]
      },
      "TagRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "example": "cool-cat"
          }
        },
        "required": [
          "id",
          "name",
          "slug"
        ]
      },
      "CategoryRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "example": "cool-cat"
          }
        },
        "required": [
          "id",
          "name",
          "slug"
        ]
      },
      "ColorPalette": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "hex": {
              "type": "string",
              "pattern": "^#(?:[0-9a-f]{3}|[0-9a-f]{6}|[0-9a-f]{8})$",
              "description": "Color in HEX format.",
              "example": "#00ff00"
            },
            "weight": {
              "type": "number",
              "description": "Percentage.",
              "example": 0.12
            }
          },
          "required": [
            "hex",
            "weight"
          ]
        }
      },
      "Image": {
        "type": "object",
        "properties": {
          "attributionUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to the original image on the Lummi website. You MUST use it to properly attribute Lummi when displaying its images, ensuring compliance with usage guidelines and giving proper credit to the source.",
            "example": "https://www.lummi.ai/photo/abc"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Asset URL.",
            "example": "https://assets.lummi.ai/assets/abc123"
          },
          "author": {
            "$ref": "#/components/schemas/UserRef"
          },
          "imageType": {
            "type": "string",
            "enum": [
              "photo",
              "illustration",
              "3d"
            ],
            "description": "Image type."
          },
          "contentType": {
            "type": "string",
            "enum": [
              "image/png",
              "image/jpeg",
              "image/jpg"
            ],
            "description": "MIME type."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "featuredAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "featuredScoreUpdatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "vibeDescription": {
            "type": "string"
          },
          "detailedDescription": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "collections": {
            "type": "integer",
            "minimum": 0,
            "example": 123
          },
          "searchAppearances": {
            "type": "integer",
            "minimum": 0,
            "example": 123
          },
          "viewCount": {
            "type": "integer",
            "minimum": 0,
            "example": 123
          },
          "downloadCount": {
            "type": "integer",
            "minimum": 0,
            "example": 123
          },
          "trendScore": {
            "type": "number",
            "example": 12.3
          },
          "randomFieldScore": {
            "type": "integer",
            "example": 123
          },
          "featuredScore": {
            "type": "integer",
            "example": 123
          },
          "luminance": {
            "type": "number",
            "example": 0.12
          },
          "focalPositionX": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 1,
            "description": "Percentage.",
            "example": 0.12
          },
          "focalPositionY": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 1,
            "description": "Percentage.",
            "example": 0.12
          },
          "focalWidth": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 1,
            "description": "Percentage.",
            "example": 0.12
          },
          "focalHeight": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 1,
            "description": "Percentage.",
            "example": 0.12
          },
          "focalZone": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "top_left",
              "top_center",
              "top_right",
              "center_left",
              "center",
              "center_right",
              "bottom_left",
              "bottom_center",
              "bottom_right"
            ],
            "description": "Image focal zone."
          },
          "numberOfPeople": {
            "type": "integer",
            "minimum": 0,
            "example": 123
          },
          "shootId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagRef"
            }
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CategoryRef"
            }
          },
          "colorPalette": {
            "$ref": "#/components/schemas/ColorPalette"
          },
          "colorGroups": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Color group."
            }
          },
          "dominantColorGroup": {
            "type": "string",
            "description": "Color group."
          },
          "dominantColorWeight": {
            "type": "number",
            "description": "Percentage.",
            "example": 0.12
          },
          "pro": {
            "type": "boolean"
          },
          "free": {
            "type": "boolean"
          },
          "transparent": {
            "type": "boolean"
          },
          "discoverable": {
            "type": "boolean"
          },
          "becameDiscoverableAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "unsafe": {
            "type": "boolean"
          },
          "size": {
            "type": "integer",
            "minimum": 0,
            "description": "Bytes.",
            "example": 123
          },
          "width": {
            "type": "integer",
            "minimum": 0,
            "description": "Pixels.",
            "example": 123
          },
          "height": {
            "type": "integer",
            "minimum": 0,
            "description": "Pixels.",
            "example": 123
          },
          "aspectRatio": {
            "type": "number",
            "example": 1.23
          },
          "orientation": {
            "type": "string",
            "enum": [
              "square",
              "horizontal",
              "vertical"
            ],
            "description": "Image orientation."
          },
          "generation": {
            "type": "object",
            "properties": {
              "mediaType": {
                "type": "string",
                "enum": [
                  "image",
                  "video"
                ],
                "description": "Media type."
              },
              "aiModel": {
                "type": "string"
              },
              "batchId": {
                "type": "string",
                "format": "uuid"
              },
              "parentId": {
                "type": "string",
                "format": "uuid",
                "description": "Image ID.",
                "example": "6ee9d925-4b40-4c76-873e-9f36401d4c0c"
              },
              "parentUrl": {
                "type": "string",
                "format": "uri",
                "description": "URL.",
                "example": "https://example.com/abc"
              },
              "referenceImages": {
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "uuid",
                      "description": "Image ID.",
                      "example": "6ee9d925-4b40-4c76-873e-9f36401d4c0c"
                    },
                    {
                      "type": "string",
                      "format": "uri",
                      "description": "URL.",
                      "example": "https://example.com/abc"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "image": {
                          "anyOf": [
                            {
                              "type": "string",
                              "format": "uuid",
                              "description": "Image ID.",
                              "example": "6ee9d925-4b40-4c76-873e-9f36401d4c0c"
                            },
                            {
                              "type": "string",
                              "format": "uri",
                              "description": "URL.",
                              "example": "https://example.com/abc"
                            }
                          ]
                        },
                        "purpose": {
                          "type": "string",
                          "enum": [
                            "character",
                            "object",
                            "style"
                          ],
                          "description": "Reference image purpose."
                        }
                      },
                      "required": [
                        "image"
                      ]
                    }
                  ]
                }
              },
              "rootId": {
                "type": "string",
                "format": "uuid",
                "description": "Image ID.",
                "example": "6ee9d925-4b40-4c76-873e-9f36401d4c0c"
              },
              "prompt": {
                "type": "string"
              },
              "aspectRatio": {
                "type": "string",
                "pattern": "^(\\d+):(\\d+)$",
                "description": "Aspect ratio.",
                "example": "1:1"
              },
              "imageType": {
                "type": "string",
                "enum": [
                  "photo",
                  "illustration",
                  "3d"
                ],
                "description": "Image type."
              },
              "shotType": {
                "type": "string"
              },
              "trend": {
                "type": "string"
              },
              "style": {
                "type": "string",
                "enum": [
                  "stillLife",
                  "overheadStillLife",
                  "streetArt",
                  "collage",
                  "whimsical",
                  "blurred",
                  "urban",
                  "neon",
                  "blackAndWhite"
                ],
                "description": "Image style."
              },
              "audio": {
                "type": "boolean"
              },
              "duration": {
                "type": "integer",
                "minimum": 0,
                "description": "Seconds.",
                "example": 5
              },
              "about": {
                "type": "string",
                "deprecated": true
              },
              "person": {
                "type": "object",
                "properties": {
                  "image": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "uuid",
                        "description": "Image ID.",
                        "example": "6ee9d925-4b40-4c76-873e-9f36401d4c0c"
                      },
                      {
                        "type": "string",
                        "format": "uri",
                        "description": "URL.",
                        "example": "https://example.com/abc"
                      }
                    ]
                  },
                  "include": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "image"
                ],
                "deprecated": true
              }
            },
            "required": [
              "mediaType",
              "aiModel",
              "batchId"
            ]
          },
          "purpose": {
            "type": "string",
            "enum": [
              "profile"
            ],
            "description": "Image purpose."
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Image ID.",
            "example": "6ee9d925-4b40-4c76-873e-9f36401d4c0c"
          },
          "name": {
            "type": "string"
          },
          "blurhash": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "example": "cool-cat"
          }
        },
        "required": [
          "attributionUrl",
          "url",
          "author",
          "imageType",
          "contentType",
          "createdAt",
          "updatedAt",
          "featuredAt",
          "featuredScoreUpdatedAt",
          "vibeDescription",
          "detailedDescription",
          "description",
          "collections",
          "searchAppearances",
          "viewCount",
          "downloadCount",
          "trendScore",
          "randomFieldScore",
          "featuredScore",
          "luminance",
          "focalPositionX",
          "focalPositionY",
          "focalWidth",
          "focalHeight",
          "focalZone",
          "numberOfPeople",
          "shootId",
          "tags",
          "categories",
          "colorPalette",
          "colorGroups",
          "dominantColorGroup",
          "dominantColorWeight",
          "pro",
          "free",
          "transparent",
          "becameDiscoverableAt",
          "size",
          "width",
          "height",
          "aspectRatio",
          "orientation",
          "id",
          "name",
          "blurhash",
          "slug"
        ]
      },
      "PaginationdMetadata": {
        "type": "object",
        "properties": {
          "totalCount": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of items.",
            "example": 123
          }
        },
        "required": [
          "totalCount"
        ]
      },
      "PaginatedImages": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Image"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationdMetadata"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "payload": {
            "type": "object"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "path": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": 0,
                        "example": 123
                      }
                    ]
                  }
                }
              },
              "required": [
                "code",
                "message",
                "path"
              ]
            }
          }
        },
        "required": [
          "message"
        ]
      },
      "DuotoneParams": {
        "type": "object",
        "properties": {
          "primary": {
            "type": "string",
            "pattern": "^#(?:[0-9a-f]{3}|[0-9a-f]{6}|[0-9a-f]{8})$",
            "description": "Color in HEX format.",
            "example": "#00ff00"
          },
          "secondary": {
            "type": "string",
            "pattern": "^#(?:[0-9a-f]{3}|[0-9a-f]{6}|[0-9a-f]{8})$",
            "description": "Color in HEX format.",
            "example": "#00ff00"
          },
          "tertiary": {
            "type": "string",
            "pattern": "^#(?:[0-9a-f]{3}|[0-9a-f]{6}|[0-9a-f]{8})$",
            "description": "Color in HEX format.",
            "example": "#00ff00"
          },
          "opacity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Percentage.",
            "example": 0.12
          }
        },
        "required": [
          "primary",
          "secondary"
        ]
      },
      "ReframeParams": {
        "type": "object",
        "properties": {
          "fpx": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "The focal point's X coordinate. Percentage.",
            "example": 0.12
          },
          "fpy": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "The focal point's Y coordinate. Percentage.",
            "example": 0.12
          },
          "ar": {
            "type": "number",
            "exclusiveMinimum": 0,
            "description": "Image aspect ratio.",
            "example": 1.23
          },
          "transform": {
            "type": "object",
            "properties": {
              "translate": {
                "type": "object",
                "properties": {
                  "x": {
                    "type": "number",
                    "description": "Percentage.",
                    "example": 0.12
                  },
                  "y": {
                    "type": "number",
                    "description": "Percentage.",
                    "example": 0.12
                  }
                },
                "required": [
                  "x",
                  "y"
                ],
                "description": "Relative 2D vector."
              },
              "scale": {
                "type": "number",
                "description": "Percentage.",
                "example": 0.12
              }
            },
            "required": [
              "translate",
              "scale"
            ],
            "description": "The focal point's transform. Applied in the order SCALE -> TRANSLATE."
          }
        },
        "description": "Reframe gives you the flexibility to resize and expand images easily—whether making it taller, wider, or square. You can also choose different focal points to automagically keep your subject exactly where you want it. This is a Pro feature; please contact us to gain access."
      },
      "ImageEffects": {
        "type": "object",
        "properties": {
          "duotone": {
            "$ref": "#/components/schemas/DuotoneParams"
          },
          "reframe": {
            "$ref": "#/components/schemas/ReframeParams"
          },
          "variant": {
            "type": "string",
            "enum": [
              "illustration",
              "cute-3d",
              "watercolor",
              "pixel-art",
              "neon",
              "comic",
              "marker",
              "sketch",
              "colorful",
              "xmas"
            ],
            "description": "Image variant. This is a Pro feature; please contact us to gain access."
          },
          "bgremove": {
            "type": "boolean",
            "default": false,
            "description": "Remove background. This is a Pro feature; please contact us to gain access."
          }
        }
      },
      "Subcategory": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "example": "cool-cat"
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "slug"
        ]
      },
      "Category": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "subtitle": {
            "type": "string"
          },
          "subcategories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subcategory"
            }
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "example": "cool-cat"
          }
        },
        "required": [
          "subcategories",
          "id",
          "name",
          "slug"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/images": {
      "get": {
        "description": "List images.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "photo",
                "illustration",
                "3d"
              ],
              "description": "Image type."
            },
            "required": false,
            "name": "imageType",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "square",
                "horizontal",
                "vertical"
              ],
              "description": "Image orientation."
            },
            "required": false,
            "name": "orientation",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^#(?:[0-9a-f]{3}|[0-9a-f]{6}|[0-9a-f]{8})$",
              "description": "Color in HEX format.",
              "example": "#00ff00"
            },
            "required": false,
            "name": "color",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images from any of the specified category IDs, separated by commas.",
              "example": "61c6298b-b014-4860-b7d5-2cf526dbc689, a935d10d-9bf8-4a2e-89d7-54623e416e73"
            },
            "required": false,
            "name": "categories",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "dark",
                "neutral",
                "bright"
              ],
              "description": "Luminance."
            },
            "required": false,
            "name": "luminance",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
              "examples": [
                "1",
                "gt0",
                "gte2",
                "lt4",
                "lte3"
              ]
            },
            "required": false,
            "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
            "name": "numberOfPeople",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "Include only images that are available for free and do not require Pro access."
            },
            "required": false,
            "name": "free",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "featuredScore",
                "trendScore",
                "createdAt"
              ],
              "default": "featuredScore",
              "description": "Order by property."
            },
            "required": false,
            "name": "orderBy",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc",
              "description": "Order direction."
            },
            "required": false,
            "name": "orderDirection",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number."
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "description": "Page size."
            },
            "required": false,
            "name": "perPage",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedImages"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/images/random": {
      "get": {
        "description": "List random images.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "description": "The number of images to return."
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "photo",
                "illustration",
                "3d"
              ],
              "description": "Image type."
            },
            "required": false,
            "name": "imageType",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "square",
                "horizontal",
                "vertical"
              ],
              "description": "Image orientation."
            },
            "required": false,
            "name": "orientation",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^#(?:[0-9a-f]{3}|[0-9a-f]{6}|[0-9a-f]{8})$",
              "description": "Color in HEX format.",
              "example": "#00ff00"
            },
            "required": false,
            "name": "color",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images from any of the specified category IDs, separated by commas.",
              "example": "61c6298b-b014-4860-b7d5-2cf526dbc689, a935d10d-9bf8-4a2e-89d7-54623e416e73"
            },
            "required": false,
            "name": "categories",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "dark",
                "neutral",
                "bright"
              ],
              "description": "Luminance."
            },
            "required": false,
            "name": "luminance",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
              "examples": [
                "1",
                "gt0",
                "gte2",
                "lt4",
                "lte3"
              ]
            },
            "required": false,
            "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
            "name": "numberOfPeople",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "Include only images that are available for free and do not require Pro access."
            },
            "required": false,
            "name": "free",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/images/search": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "Search images.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Search term.",
              "example": "cool cat"
            },
            "required": true,
            "name": "query",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "photo",
                "illustration",
                "3d"
              ],
              "description": "Image type."
            },
            "required": false,
            "name": "imageType",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "square",
                "horizontal",
                "vertical"
              ],
              "description": "Image orientation."
            },
            "required": false,
            "name": "orientation",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^#(?:[0-9a-f]{3}|[0-9a-f]{6}|[0-9a-f]{8})$",
              "description": "Color in HEX format.",
              "example": "#00ff00"
            },
            "required": false,
            "name": "color",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images from any of the specified category IDs, separated by commas.",
              "example": "61c6298b-b014-4860-b7d5-2cf526dbc689, a935d10d-9bf8-4a2e-89d7-54623e416e73"
            },
            "required": false,
            "name": "categories",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "dark",
                "neutral",
                "bright"
              ],
              "description": "Luminance."
            },
            "required": false,
            "name": "luminance",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
              "examples": [
                "1",
                "gt0",
                "gte2",
                "lt4",
                "lte3"
              ]
            },
            "required": false,
            "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
            "name": "numberOfPeople",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "Include only images that are available for free and do not require Pro access."
            },
            "required": false,
            "name": "free",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number."
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "description": "Page size."
            },
            "required": false,
            "name": "perPage",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedImages"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/images/search/random": {
      "get": {
        "description": "Search random images.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Search term.",
              "example": "cool cat"
            },
            "required": true,
            "name": "query",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "description": "The number of images to return."
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "photo",
                "illustration",
                "3d"
              ],
              "description": "Image type."
            },
            "required": false,
            "name": "imageType",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "square",
                "horizontal",
                "vertical"
              ],
              "description": "Image orientation."
            },
            "required": false,
            "name": "orientation",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^#(?:[0-9a-f]{3}|[0-9a-f]{6}|[0-9a-f]{8})$",
              "description": "Color in HEX format.",
              "example": "#00ff00"
            },
            "required": false,
            "name": "color",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images from any of the specified category IDs, separated by commas.",
              "example": "61c6298b-b014-4860-b7d5-2cf526dbc689, a935d10d-9bf8-4a2e-89d7-54623e416e73"
            },
            "required": false,
            "name": "categories",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "dark",
                "neutral",
                "bright"
              ],
              "description": "Luminance."
            },
            "required": false,
            "name": "luminance",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
              "examples": [
                "1",
                "gt0",
                "gte2",
                "lt4",
                "lte3"
              ]
            },
            "required": false,
            "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
            "name": "numberOfPeople",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "Include only images that are available for free and do not require Pro access."
            },
            "required": false,
            "name": "free",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/images/{id}": {
      "get": {
        "description": "Get the image.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Image ID.",
              "example": "6ee9d925-4b40-4c76-873e-9f36401d4c0c"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Image"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/images/{id}/download": {
      "post": {
        "description": "Download the image, optionally with effects applied.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Image ID.",
              "example": "6ee9d925-4b40-4c76-873e-9f36401d4c0c"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "effects": {
                    "$ref": "#/components/schemas/ImageEffects"
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "original",
                      "small",
                      "medium",
                      "large",
                      "xlarge",
                      "ultra"
                    ],
                    "default": "original",
                    "description": "Image resolution. Note that `large`, `xlarge`, and `ultra` are Pro features."
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "png",
                      "jpg"
                    ],
                    "description": "Defaults to auto if not specified."
                  }
                },
                "example": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "downloadUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "Asset URL.",
                      "example": "https://assets.lummi.ai/assets/abc123"
                    }
                  },
                  "required": [
                    "downloadUrl"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Please contact us to gain access to the this feature.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/images/{id}/similar": {
      "get": {
        "description": "List similar images.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Image ID.",
              "example": "6ee9d925-4b40-4c76-873e-9f36401d4c0c"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "photo",
                "illustration",
                "3d"
              ],
              "description": "Image type."
            },
            "required": false,
            "name": "imageType",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "square",
                "horizontal",
                "vertical"
              ],
              "description": "Image orientation."
            },
            "required": false,
            "name": "orientation",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^#(?:[0-9a-f]{3}|[0-9a-f]{6}|[0-9a-f]{8})$",
              "description": "Color in HEX format.",
              "example": "#00ff00"
            },
            "required": false,
            "name": "color",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images from any of the specified category IDs, separated by commas.",
              "example": "61c6298b-b014-4860-b7d5-2cf526dbc689, a935d10d-9bf8-4a2e-89d7-54623e416e73"
            },
            "required": false,
            "name": "categories",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "dark",
                "neutral",
                "bright"
              ],
              "description": "Luminance."
            },
            "required": false,
            "name": "luminance",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
              "examples": [
                "1",
                "gt0",
                "gte2",
                "lt4",
                "lte3"
              ]
            },
            "required": false,
            "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
            "name": "numberOfPeople",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "Include only images that are available for free and do not require Pro access."
            },
            "required": false,
            "name": "free",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number."
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "description": "Page size."
            },
            "required": false,
            "name": "perPage",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedImages"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/images/{id}/similar/random": {
      "get": {
        "description": "List similar random images.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Image ID.",
              "example": "6ee9d925-4b40-4c76-873e-9f36401d4c0c"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "description": "The number of images to return."
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "photo",
                "illustration",
                "3d"
              ],
              "description": "Image type."
            },
            "required": false,
            "name": "imageType",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "square",
                "horizontal",
                "vertical"
              ],
              "description": "Image orientation."
            },
            "required": false,
            "name": "orientation",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^#(?:[0-9a-f]{3}|[0-9a-f]{6}|[0-9a-f]{8})$",
              "description": "Color in HEX format.",
              "example": "#00ff00"
            },
            "required": false,
            "name": "color",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images from any of the specified category IDs, separated by commas.",
              "example": "61c6298b-b014-4860-b7d5-2cf526dbc689, a935d10d-9bf8-4a2e-89d7-54623e416e73"
            },
            "required": false,
            "name": "categories",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "dark",
                "neutral",
                "bright"
              ],
              "description": "Luminance."
            },
            "required": false,
            "name": "luminance",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
              "examples": [
                "1",
                "gt0",
                "gte2",
                "lt4",
                "lte3"
              ]
            },
            "required": false,
            "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
            "name": "numberOfPeople",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "Include only images that are available for free and do not require Pro access."
            },
            "required": false,
            "name": "free",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{id}/images": {
      "get": {
        "description": "List the images in the collection.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{7}$",
              "description": "Collection ID. For example, in the collection at **https://www.lummi.ai/collection/3hoMl5l/handsome-bald-men**, the ID would be `3hoMl5l`.",
              "example": "3hoMl5l"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "photo",
                "illustration",
                "3d"
              ],
              "description": "Image type."
            },
            "required": false,
            "name": "imageType",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "square",
                "horizontal",
                "vertical"
              ],
              "description": "Image orientation."
            },
            "required": false,
            "name": "orientation",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^#(?:[0-9a-f]{3}|[0-9a-f]{6}|[0-9a-f]{8})$",
              "description": "Color in HEX format.",
              "example": "#00ff00"
            },
            "required": false,
            "name": "color",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images from any of the specified category IDs, separated by commas.",
              "example": "61c6298b-b014-4860-b7d5-2cf526dbc689, a935d10d-9bf8-4a2e-89d7-54623e416e73"
            },
            "required": false,
            "name": "categories",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "dark",
                "neutral",
                "bright"
              ],
              "description": "Luminance."
            },
            "required": false,
            "name": "luminance",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
              "examples": [
                "1",
                "gt0",
                "gte2",
                "lt4",
                "lte3"
              ]
            },
            "required": false,
            "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
            "name": "numberOfPeople",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "Include only images that are available for free and do not require Pro access."
            },
            "required": false,
            "name": "free",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "featuredScore",
                "trendScore",
                "createdAt"
              ],
              "default": "featuredScore",
              "description": "Order by property."
            },
            "required": false,
            "name": "orderBy",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc",
              "description": "Order direction."
            },
            "required": false,
            "name": "orderDirection",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number."
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "description": "Page size."
            },
            "required": false,
            "name": "perPage",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedImages"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The collection is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{id}/images/random": {
      "get": {
        "description": "List random images in the collection.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{7}$",
              "description": "Collection ID. For example, in the collection at **https://www.lummi.ai/collection/3hoMl5l/handsome-bald-men**, the ID would be `3hoMl5l`.",
              "example": "3hoMl5l"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "description": "The number of images to return."
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "photo",
                "illustration",
                "3d"
              ],
              "description": "Image type."
            },
            "required": false,
            "name": "imageType",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "square",
                "horizontal",
                "vertical"
              ],
              "description": "Image orientation."
            },
            "required": false,
            "name": "orientation",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^#(?:[0-9a-f]{3}|[0-9a-f]{6}|[0-9a-f]{8})$",
              "description": "Color in HEX format.",
              "example": "#00ff00"
            },
            "required": false,
            "name": "color",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images from any of the specified category IDs, separated by commas.",
              "example": "61c6298b-b014-4860-b7d5-2cf526dbc689, a935d10d-9bf8-4a2e-89d7-54623e416e73"
            },
            "required": false,
            "name": "categories",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "dark",
                "neutral",
                "bright"
              ],
              "description": "Luminance."
            },
            "required": false,
            "name": "luminance",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
              "examples": [
                "1",
                "gt0",
                "gte2",
                "lt4",
                "lte3"
              ]
            },
            "required": false,
            "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
            "name": "numberOfPeople",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "Include only images that are available for free and do not require Pro access."
            },
            "required": false,
            "name": "free",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The collection is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categories": {
      "get": {
        "description": "List the categories.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {},
  "x-scalar-navigation": [
    {
      "id": "Introduction",
      "title": "Introduction",
      "type": "text",
      "children": []
    },
    {
      "id": "Authentication",
      "title": "Authentication",
      "type": "text",
      "children": []
    },
    {
      "id": "Rate Limiting",
      "title": "Rate Limiting",
      "type": "text",
      "children": []
    },
    {
      "id": "Attribution Guidelines",
      "title": "Attribution Guidelines",
      "type": "text",
      "children": [
        {
          "id": "Image Attribution",
          "title": "Image Attribution",
          "type": "text"
        },
        {
          "id": "Author Attribution",
          "title": "Author Attribution",
          "type": "text"
        },
        {
          "id": "Example",
          "title": "Example",
          "type": "text"
        },
        {
          "id": "General Best Practices for Attribution",
          "title": "General Best Practices for Attribution",
          "type": "text"
        }
      ]
    },
    {
      "id": "Dynamic Image Transformations",
      "title": "Dynamic Image Transformations",
      "type": "text",
      "children": [
        {
          "id": "1. Resizing",
          "title": "1. Resizing",
          "type": "text"
        },
        {
          "id": "2. Format Conversion",
          "title": "2. Format Conversion",
          "type": "text"
        },
        {
          "id": "Combining Parameters",
          "title": "Combining Parameters",
          "type": "text"
        }
      ]
    },
    {
      "id": "",
      "title": "/categories",
      "path": "/categories",
      "method": "get",
      "ref": "#/paths/~1categories/get",
      "type": "operation"
    },
    {
      "id": "",
      "title": "/collections/{id}/images",
      "path": "/collections/{id}/images",
      "method": "get",
      "ref": "#/paths/~1collections~1{id}~1images/get",
      "type": "operation"
    },
    {
      "id": "",
      "title": "/collections/{id}/images/random",
      "path": "/collections/{id}/images/random",
      "method": "get",
      "ref": "#/paths/~1collections~1{id}~1images~1random/get",
      "type": "operation"
    },
    {
      "id": "",
      "title": "/images",
      "path": "/images",
      "method": "get",
      "ref": "#/paths/~1images/get",
      "type": "operation"
    },
    {
      "id": "",
      "title": "/images/{id}",
      "path": "/images/{id}",
      "method": "get",
      "ref": "#/paths/~1images~1{id}/get",
      "type": "operation"
    },
    {
      "id": "",
      "title": "/images/{id}/download",
      "path": "/images/{id}/download",
      "method": "post",
      "ref": "#/paths/~1images~1{id}~1download/post",
      "type": "operation"
    },
    {
      "id": "",
      "title": "/images/{id}/similar",
      "path": "/images/{id}/similar",
      "method": "get",
      "ref": "#/paths/~1images~1{id}~1similar/get",
      "type": "operation"
    },
    {
      "id": "",
      "title": "/images/{id}/similar/random",
      "path": "/images/{id}/similar/random",
      "method": "get",
      "ref": "#/paths/~1images~1{id}~1similar~1random/get",
      "type": "operation"
    },
    {
      "id": "",
      "title": "/images/random",
      "path": "/images/random",
      "method": "get",
      "ref": "#/paths/~1images~1random/get",
      "type": "operation"
    },
    {
      "id": "",
      "title": "/images/search",
      "path": "/images/search",
      "method": "get",
      "ref": "#/paths/~1images~1search/get",
      "type": "operation"
    },
    {
      "id": "",
      "title": "/images/search/random",
      "path": "/images/search/random",
      "method": "get",
      "ref": "#/paths/~1images~1search~1random/get",
      "type": "operation"
    },
    {
      "id": "",
      "title": "Models",
      "children": [
        {
          "id": "UserRef",
          "title": "UserRef",
          "name": "UserRef",
          "ref": "#/content/components/schemas/UserRef",
          "type": "model"
        },
        {
          "id": "TagRef",
          "title": "TagRef",
          "name": "TagRef",
          "ref": "#/content/components/schemas/TagRef",
          "type": "model"
        },
        {
          "id": "CategoryRef",
          "title": "CategoryRef",
          "name": "CategoryRef",
          "ref": "#/content/components/schemas/CategoryRef",
          "type": "model"
        },
        {
          "id": "ColorPalette",
          "title": "ColorPalette",
          "name": "ColorPalette",
          "ref": "#/content/components/schemas/ColorPalette",
          "type": "model"
        },
        {
          "id": "Image",
          "title": "Image",
          "name": "Image",
          "ref": "#/content/components/schemas/Image",
          "type": "model"
        },
        {
          "id": "PaginationdMetadata",
          "title": "PaginationdMetadata",
          "name": "PaginationdMetadata",
          "ref": "#/content/components/schemas/PaginationdMetadata",
          "type": "model"
        },
        {
          "id": "PaginatedImages",
          "title": "PaginatedImages",
          "name": "PaginatedImages",
          "ref": "#/content/components/schemas/PaginatedImages",
          "type": "model"
        },
        {
          "id": "ErrorResponse",
          "title": "ErrorResponse",
          "name": "ErrorResponse",
          "ref": "#/content/components/schemas/ErrorResponse",
          "type": "model"
        },
        {
          "id": "DuotoneParams",
          "title": "DuotoneParams",
          "name": "DuotoneParams",
          "ref": "#/content/components/schemas/DuotoneParams",
          "type": "model"
        },
        {
          "id": "ReframeParams",
          "title": "ReframeParams",
          "name": "ReframeParams",
          "ref": "#/content/components/schemas/ReframeParams",
          "type": "model"
        },
        {
          "id": "ImageEffects",
          "title": "ImageEffects",
          "name": "ImageEffects",
          "ref": "#/content/components/schemas/ImageEffects",
          "type": "model"
        },
        {
          "id": "Subcategory",
          "title": "Subcategory",
          "name": "Subcategory",
          "ref": "#/content/components/schemas/Subcategory",
          "type": "model"
        },
        {
          "id": "Category",
          "title": "Category",
          "name": "Category",
          "ref": "#/content/components/schemas/Category",
          "type": "model"
        }
      ],
      "type": "text"
    }
  ]
}